html,
body {
	height: 100%;
	width: 100%;
	font-family: Inter;
	font-weight: 400;
	background: #050810;
	color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
textarea,
button {
	width: 100%;
	display: block;
}

#svelte {
	height: 100%;
}

main {
	flex: 1;
}

select {
	color: white;
}

button {
	color: white;
	border: none;
	border-radius: 4px;
	background: transparent;
}

input {
	color: white;
	border: 1px solid #444d66;
	border-radius: 4px;
	background: transparent;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}
